@{
    var account = Session["Account"] as MovieWeb.Models.User;
}
@RenderSection("scripts", required: false)

<!DOCTYPE html>
<html>
<head>
    <title>One Movies an Entertainment Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/contactstyle.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/faqstyle.css" type="text/css" media="all" />
    <link href="~/Content/single.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/medile.css" rel='stylesheet' type='text/css' />
    <!-- banner-slider -->
    <link href="~/Content/jquery.slidey.min.css" rel="stylesheet">
    <!-- //banner-slider -->
    <!-- pop-up -->
    <link href="~/Content/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- banner-bottom-plugin -->
    <link href="~/Content/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Scripts/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds

                items: 5,
                itemsDesktop: [640, 4],
                itemsDesktopSmall: [414, 3]

            });

        });
    </script>
    <!-- //banner-bottom-plugin -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="w3layouts_logo">
                <a href="@Url.Action("Index","Home")"><h1>Sin<span>Movies</span></h1></a>
            </div>
            <div class="w3_search">
                <form class="searchform" action="#">
                    <input type="text" id="livesearchtags" name="livesearchtags" placeholder="Search" required="" autocomplete="off">
                    @{ var temp = this.Request.Form["livesearchtags"];}
                    <a href="@Url.Action("SearchResult","Home", new {search = temp})">
                        <input type="submit" value="Go">
                    </a>
                    <div id="result" class="tag-result"></div>
                </form>

            </div>
            <style>
                .searchform {
                    position: relative;
                }

                #result {
                    position: absolute;
                    z-index: 10000;
                }

                .search-tag-detail {
                    display: flex;
                    flex-direction: row;
                    padding: 3px;
                    background-color: #d9edf7;
                    border-radius: 3px;
                }

                .search-tag {
                    display: flex;
                    margin: 2px 2px 2px 0px;
                }

                .tag-results {
                    display: flex;
                    flex-direction: row;
                }
            </style>
            <script>
                document.getElementById('livesearchtags').addEventListener('keyup', function (e) {
                    LiveSearch()
                });

                function LiveSearch() {
                    let value = document.getElementById('livesearchtags').value

                    $.ajax({
                        type: "POST",
                        url: "/Home/LiveTagSearch",
                        data: { search: value },
                        datatype: "html",
                        success: function (data) {
                            $('#result').html(data);
                        }
                    });
                }
                let timeout = null;

                document.getElementById('livesearchtags').addEventListener('keyup', function (e) {
                    clearTimeout(timeout);

                    timeout = setTimeout(function () {
                        LiveSearch()
                    }, 800);
                });
            </script>
            <div class="w3l_sign_in_register">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> (+84) 123 456 789</li>
                    @if (account == null)
                    {
                        <li><a href="@Url.Action("SignIn","User")">Login</a></li>
                    }
                    else
                    {
                        <li style="color:#ff0000">
                            Hello, @account.UserName
                        </li>
                        <li>
                            <a href="@Url.Action("Logout", "User")">Log out</a>
                        </li>
                    }
                </ul>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- nav -->
    <div class="movies_nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li class="active" style="border-width:0px 0.5px 0px 0px; border-style:solid; color:white"><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li style="border-width:0px 0.5px 0px 0px; border-style:solid; color:white"><a href="@Url.Action("MovieTheaters","Home")">Theater Movies</a></li>
                            <li style="border-width:0px 0.5px 0px 0px; border-style:solid; color:white"><a href="@Url.Action("MovieSeries","Home")">Series Movies</a></li>

                            @Html.Action("GenreCategory", "Home")

                            @Html.Action("CountryCategory", "Home")

                            <li style="border-width:0px 0.5px 0px 0px; border-style:solid; color:white"><a href="@Url.Action("ListMovie","Home")">A-Z List</a></li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
    <!-- //nav -->

    @RenderBody()

    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="w3ls_footer_grid">
                <div class="col-md-6 w3ls_footer_grid_left">
                    <div class="w3ls_footer_grid_left1">
                        <h2>Subscribe to us</h2>
                        <div class="w3ls_footer_grid_left1_pos">
                            <form action="#" method="post">
                                <input type="email" name="email" placeholder="Your email..." required="">
                                <input type="submit" value="Send">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 w3ls_footer_grid_right">
                    <a href="@Url.Action("Index", "Home")"><h2>Sin<span>Movies</span></h2></a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-5 w3ls_footer_grid1_left">
                <p>&copy; 2022 Sin Movies. All rights reserved | Design by <a href="https://drive.google.com/drive/folders/1pQP8IwW0LKSF7gwM2FCyKP82CZTOa55W">Nhom 15</a></p>
            </div>
            <div class="col-md-7 w3ls_footer_grid1_right">
                <ul>
                    <li>
                        <a href="@Url.Action("Privacy","Home")">Privacy</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListMovie","Home")">Movies</a>
                    </li>
                    <li>
                        <a href=@Url.Action("FAQ","Home")>FAQ</a>
                    </li>
                    <li>
                        <a href=@Url.Action("ContactUs","Home")>Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //Bootstrap Core JavaScript -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->

</body>

</html>
